#tetris {
    position: relative;
    height: auto;
}
#tetris .inline {
    display: inline;
}
#tetris #top_display {
    position: absolute;
    top: 5px;
}
#tetris #counter{
    color: blue;
}
#tetris #score {
    position:absolute;
    top: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#tetris #scoreboard {
    position: absolute;
    top: 70px;
    right: 0px;
}
#tetris table {
    width: 100%;
    border-collapse: collapse;
}
#tetris tr {
    width: 100%;
}
#tetris th, td {
    border: 1px solid black;
    width: 33%;
    padding: 8px;
}
#tetris th {
    background-color: blue;
    color: white;
}
#tetris #canvas_container{
    position: absolute;
    left: 0px;
    top: 70px;
}
#tetris canvas {
    border: 1px solid black;
    background-color: #fcf3cf;
}
#tetris .error {
    color: white;
    text-align: center;
    background-color: blue;
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#tetris #highlighted {
    background-color: yellow;
}
